<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New-Wave</title>
    <style type="text/css">
        html{
           height:100%;
            background: linear-gradient(0deg, white, blue 80%) no-repeat;
        }
        h1,h2{
            color: white;
            margin: 10px auto;
            width: 50%;
        }
        p{
            color: white;
            margin: auto;
            width: 50%;
        }
        a{
           color: white;
            margin: 10px auto;
            width: 30%;
        }
  </style>
</head>
<body>
 <h2>Добро пожаловать на  "New-Wave"!</h2>
 <h2>Наш сайт в разаработке</h2>
 <h2>Подключитесь к нашему боту в <a href="https://t.me/TheNewWaveBot">телеграм ></a></h2>
 <p>По данным coinmarketcap.com за год с июня 2016 по июнь 2017 года, рост курса криптовалют имел взрывной характер и составил 10617% для NEM, 4568 % для Ripple, 2308% для Etherium.
     Столь поражающие цифры заставляют людей задумываться о том, чтобы начать инвестировать в криптовалюты. Однако, человеку, не имеющему опыта работы на криптовалютном рынке или на рынке-форекс сложно сориентироваться в огромном разнообразии валют. С чего начать, как сделать правильный выбор, в какие криптовалюты инвестировать накопленные средства, чтобы их преумножить и не прогадать?
     Мы, сервис по предоставлению торговых сигналов «New Wave», предлагаем Вам поймать волну и заработать на росте рынка криптовалют. Команда аналитиков проекта ежедневно мониторит огромное количество проектов, чтобы предоставить Вам информацию о самых лучших из них, которые принесут наибольшую прибыль.
     Наши сигналы обладают высоким качеством и содержат информацию о том, какую криптовалюту купить, на какой бирже, по какой цене, а также информацию о том по какой цене продать, чтобы извлечь максимальную прибыль. Кроме того, мы предоставляем услуги по аудиту Вашего портфеля криптовалют с целью улучшения показателей доходности и надежности.
     В New Wave мы ставим своей целью улучшение качества жизни клиентов, чтобы и вы смогли поймать волну и войти в эпоху цифровой экономики, где термин «криптовалюта» не будет пугающим, а будет служить средством заработка для многих людей.</p>
</body>
</html>